In [2]:
"""
This file is a temp file, which combines all the data that we have into a unified dataset.
Important is to contain sent, claim, row_index, column_index, formula
"""

'\nThis file is a temp file, which combines all the data that we have into a unified dataset.\nImportant is to contain sent, claim, row_index, column_index, formula\n'

In [3]:
import pandas as pd
import os

/home/george/.pyenv/versions/3.7.0/lib/python3.7/site-packages/pandas/compat/__init__.py:85: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)
/home/george/.pyenv/versions/3.7.0/lib/python3.7/site-packages/pandas/compat/__init__.py:85: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

In [4]:
CLAIMS_EXTRACTED_BY_US_DIR = "data/claims_extracted_by_us/"

In [5]:
OUT_FILE = "data/main_annotated_dataset_12-16-2019.csv"

In [6]:
def get_files_from_dir(basepath):
    files = []
    for entry in os.listdir(basepath):
        if os.path.isfile(os.path.join(basepath, entry)):
            files.append(os.path.join(basepath, entry))
    return files

In [7]:
us_files = get_files_from_dir(CLAIMS_EXTRACTED_BY_US_DIR)

In [8]:
us_files

['data/claims_extracted_by_us/Ch8_Demand_India_Claims_ExtractedByUs.csv',
 'data/claims_extracted_by_us/Ch10_Part_2_Claims_ExtractedByUs.csv',
 'data/claims_extracted_by_us/Ch9_Ya_Claims_ExtractedByUs.csv',
 'data/claims_extracted_by_us/Ch6_Claims_ExtractedByUs.csv',
 'data/claims_extracted_by_us/Ch9.4_Claims_ExtractedByUs.csv',
 'data/claims_extracted_by_us/Ch2_Claims_ExtractedByUs.csv',
 'data/claims_extracted_by_us/Ch9_PH_Claims_ExtractedByUs.csv',
 'data/claims_extracted_by_us/Ch3_Claims_ExtractedByUs.csv',
 'data/claims_extracted_by_us/Ch8.4_Claims_ExtractedByUs.csv',
 'data/claims_extracted_by_us/Ch5_Claims_ExtractedByUs.csv',
 'data/claims_extracted_by_us/Ch9_Claims_ExtractedByUs.csv',
 'data/claims_extracted_by_us/Ch10_Valentina_Claims_ExtractedByUs.csv',
 'data/claims_extracted_by_us/Ch4_Claims_ExtractedByUs.csv',
 'data/claims_extracted_by_us/Ch11_Claims_ExtractedByUs.csv',
 'data/claims_extracted_by_us/Ch8_Outlook_Claims_ExtractedByUs.csv']

In [9]:
us_df = pd.DataFrame()

In [10]:
for file in us_files:
    print(file)
    temp_df = pd.read_csv(file)
    temp_df["file"] = file
    # remove unwanted rows
    us_df = pd.concat([us_df, temp_df])

data/claims_extracted_by_us/Ch8_Demand_India_Claims_ExtractedByUs.csv
data/claims_extracted_by_us/Ch10_Part_2_Claims_ExtractedByUs.csv
data/claims_extracted_by_us/Ch9_Ya_Claims_ExtractedByUs.csv
data/claims_extracted_by_us/Ch6_Claims_ExtractedByUs.csv
data/claims_extracted_by_us/Ch9.4_Claims_ExtractedByUs.csv
data/claims_extracted_by_us/Ch2_Claims_ExtractedByUs.csv
data/claims_extracted_by_us/Ch9_PH_Claims_ExtractedByUs.csv
data/claims_extracted_by_us/Ch3_Claims_ExtractedByUs.csv
data/claims_extracted_by_us/Ch8.4_Claims_ExtractedByUs.csv
data/claims_extracted_by_us/Ch5_Claims_ExtractedByUs.csv
data/claims_extracted_by_us/Ch9_Claims_ExtractedByUs.csv
data/claims_extracted_by_us/Ch10_Valentina_Claims_ExtractedByUs.csv
data/claims_extracted_by_us/Ch4_Claims_ExtractedByUs.csv
data/claims_extracted_by_us/Ch11_Claims_ExtractedByUs.csv
data/claims_extracted_by_us/Ch8_Outlook_Claims_ExtractedByUs.csv

/home/george/.pyenv/versions/3.7.0/lib/python3.7/site-packages/ipykernel_launcher.py:6: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

In [11]:
us_df = us_df.rename(columns={"Text": "sent", "Published value": "claim", "Fixed_Formulas": "formula",
                       "Look-up value": "row_index", "Look-up year": "column", "Scenario": "scenario"})

In [12]:
us_df = us_df[["sent", "claim", "formula", "row_index", "column", "scenario", "file"]]

In [13]:
us_df

,sent,claim,formula,row_index,column,scenario,file
0,The role of electricity expands in the New Pol...,expand,'8.1'!G4,NaN,NaN,NaN,data/claims_extracted_by_us/Ch8_Demand_India_C...
1,Overall energy demand rises from 13 972 millio...,13972,"VLOOKUP($A6,C:\EO2018\FrozenResults\Demand\_Ag...",TPEDtotal,2017,NPS,data/claims_extracted_by_us/Ch8_Demand_India_C...
2,Overall energy demand rises from 13 972 millio...,over 17 700,"VLOOKUP($A7,C:\EO2018\FrozenResults\Demand\_Ag...",TPEDtotal,2040,NPS,data/claims_extracted_by_us/Ch8_Demand_India_C...
3,Overall energy demand rises from 13 972 millio...,over 17 700,"VLOOKUP($A9,C:\EO2018\FrozenResults\Demand\_Ag...",TFCtotal,2017,NPS,data/claims_extracted_by_us/Ch8_Demand_India_C...
4,Overall energy demand rises from 13 972 millio...,over 17 700,"VLOOKUP($A10,C:\EO2018\FrozenResults\Demand\_A...",TFCtotal,2040,NPS,data/claims_extracted_by_us/Ch8_Demand_India_C...
...,...,...,...,...,...,...,...
20000,406.82498,414.89447,415.08081,=B26287&C26287,EU8785,hourly demand to satisfy[FH8758],data/claims_extracted_by_us/Ch8_Outlook_Claims...
20001,385.52603,393.20648,393.58511,=B26288&C26288,EU8786,hourly demand to satisfy[FH8759],data/claims_extracted_by_us/Ch8_Outlook_Claims...
20002,359.07626,366.4129,367.01529,=B26289&C26289,EU8787,hourly demand to satisfy[FH8760],data/claims_extracted_by_us/Ch8_Outlook_Claims...
20003,Yelds,STDEV,VOL,Price,Time (Year),2017,data/claims_extracted_by_us/Ch8_Outlook_Claims...
20004,Yelds,=STDEV(E3:E26281),+F2^2,EU28Marginal SRMC by full load hour,Marginal SRMC by full load hour[FH1],37.0375,data/claims_extracted_by_us/Ch8_Outlook_Claims...

In [14]:
# main_df = pd.concat((us_df, chapters_df))
main_df = us_df

In [15]:
main_df

,sent,claim,formula,row_index,column,scenario,file
0,The role of electricity expands in the New Pol...,expand,'8.1'!G4,NaN,NaN,NaN,data/claims_extracted_by_us/Ch8_Demand_India_C...
1,Overall energy demand rises from 13 972 millio...,13972,"VLOOKUP($A6,C:\EO2018\FrozenResults\Demand\_Ag...",TPEDtotal,2017,NPS,data/claims_extracted_by_us/Ch8_Demand_India_C...
2,Overall energy demand rises from 13 972 millio...,over 17 700,"VLOOKUP($A7,C:\EO2018\FrozenResults\Demand\_Ag...",TPEDtotal,2040,NPS,data/claims_extracted_by_us/Ch8_Demand_India_C...
3,Overall energy demand rises from 13 972 millio...,over 17 700,"VLOOKUP($A9,C:\EO2018\FrozenResults\Demand\_Ag...",TFCtotal,2017,NPS,data/claims_extracted_by_us/Ch8_Demand_India_C...
4,Overall energy demand rises from 13 972 millio...,over 17 700,"VLOOKUP($A10,C:\EO2018\FrozenResults\Demand\_A...",TFCtotal,2040,NPS,data/claims_extracted_by_us/Ch8_Demand_India_C...
...,...,...,...,...,...,...,...
20000,406.82498,414.89447,415.08081,=B26287&C26287,EU8785,hourly demand to satisfy[FH8758],data/claims_extracted_by_us/Ch8_Outlook_Claims...
20001,385.52603,393.20648,393.58511,=B26288&C26288,EU8786,hourly demand to satisfy[FH8759],data/claims_extracted_by_us/Ch8_Outlook_Claims...
20002,359.07626,366.4129,367.01529,=B26289&C26289,EU8787,hourly demand to satisfy[FH8760],data/claims_extracted_by_us/Ch8_Outlook_Claims...
20003,Yelds,STDEV,VOL,Price,Time (Year),2017,data/claims_extracted_by_us/Ch8_Outlook_Claims...
20004,Yelds,=STDEV(E3:E26281),+F2^2,EU28Marginal SRMC by full load hour,Marginal SRMC by full load hour[FH1],37.0375,data/claims_extracted_by_us/Ch8_Outlook_Claims...

In [16]:
len(main_df.drop_duplicates(subset=["sent", "claim", "formula", "row_index", "column"]))

31478

In [17]:
main_df = main_df.drop_duplicates(subset=["sent", "claim", "formula", "row_index", "column"]).reset_index(drop=True)

In [18]:
main_df

,sent,claim,formula,row_index,column,scenario,file
0,The role of electricity expands in the New Pol...,expand,'8.1'!G4,NaN,NaN,NaN,data/claims_extracted_by_us/Ch8_Demand_India_C...
1,Overall energy demand rises from 13 972 millio...,13972,"VLOOKUP($A6,C:\EO2018\FrozenResults\Demand\_Ag...",TPEDtotal,2017,NPS,data/claims_extracted_by_us/Ch8_Demand_India_C...
2,Overall energy demand rises from 13 972 millio...,over 17 700,"VLOOKUP($A7,C:\EO2018\FrozenResults\Demand\_Ag...",TPEDtotal,2040,NPS,data/claims_extracted_by_us/Ch8_Demand_India_C...
3,Overall energy demand rises from 13 972 millio...,over 17 700,"VLOOKUP($A9,C:\EO2018\FrozenResults\Demand\_Ag...",TFCtotal,2017,NPS,data/claims_extracted_by_us/Ch8_Demand_India_C...
4,Overall energy demand rises from 13 972 millio...,over 17 700,"VLOOKUP($A10,C:\EO2018\FrozenResults\Demand\_A...",TFCtotal,2040,NPS,data/claims_extracted_by_us/Ch8_Demand_India_C...
...,...,...,...,...,...,...,...
31473,406.82498,414.89447,415.08081,=B26287&C26287,EU8785,hourly demand to satisfy[FH8758],data/claims_extracted_by_us/Ch8_Outlook_Claims...
31474,385.52603,393.20648,393.58511,=B26288&C26288,EU8786,hourly demand to satisfy[FH8759],data/claims_extracted_by_us/Ch8_Outlook_Claims...
31475,359.07626,366.4129,367.01529,=B26289&C26289,EU8787,hourly demand to satisfy[FH8760],data/claims_extracted_by_us/Ch8_Outlook_Claims...
31476,Yelds,STDEV,VOL,Price,Time (Year),2017,data/claims_extracted_by_us/Ch8_Outlook_Claims...
31477,Yelds,=STDEV(E3:E26281),+F2^2,EU28Marginal SRMC by full load hour,Marginal SRMC by full load hour[FH1],37.0375,data/claims_extracted_by_us/Ch8_Outlook_Claims...

In [19]:
main_df.to_csv(OUT_FILE, index=False)

In [20]:
len(main_df.drop_duplicates(subset = ["sent", "claim"]))

12904

In [22]:
main_df[main_df.formula.str.contains("IF")]

,sent,claim,formula,row_index,column,scenario,file
1748,Spending on energy imports is set to grow in m...,grow,"AVERAGEIF(D173:G186,""import"",G173:G186)",NaN,NaN,NaN,data/claims_extracted_by_us/Ch10_Part_2_Claims...
1876,"In the Sustainable Development Scenario, incre...",higher,"COUNTIF(K348:AJ348,""""&""TRUE"")21",NaN,NaN,NaN,data/claims_extracted_by_us/Ch10_Part_2_Claims...
2196,"Despite declining costs in all regions, solar ...",declining,"COUNTIF(E366:E390,""TRUE"")",NaN,NaN,NaN,data/claims_extracted_by_us/Ch10_Part_2_Claims...
2202,Projected investment in wind power continues t...,increase,"COUNTIF(E476:E500,""TRUE"")",NaN,NaN,NaN,data/claims_extracted_by_us/Ch10_Part_2_Claims...
2639,"In the United States, the share of total gener...",low,"IF(G184<G185,TRUE,FALSE)",NaN,NaN,NaN,data/claims_extracted_by_us/Ch10_Part_2_Claims...
...,...,...,...,...,...,...,...
15721,Most advanced and developing economies alike e...,SO2_PP_Total,"COUNTIF(RegionalOutput_pollutants!$F$4:$F$45,T...",NaN,NaN,NaN,data/claims_extracted_by_us/Ch8_Outlook_Claims...
15722,Most advanced and developing economies alike e...,NOX_PP_Total,"COUNTIF(RegionalOutput_pollutants!$K$4:$K$45,T...",NaN,NaN,NaN,data/claims_extracted_by_us/Ch8_Outlook_Claims...
15723,Most advanced and developing economies alike e...,PM_PP_Total,"COUNTIF(RegionalOutput_pollutants!$P$4:$P$45,T...",NaN,NaN,NaN,data/claims_extracted_by_us/Ch8_Outlook_Claims...
16135,The policies adopted to support the climate ob...,high levels,"COUNTIF(F507:F512,""<30%"")0",NaN,NaN,NaN,data/claims_extracted_by_us/Ch8_Outlook_Claims...
16142,Large additions in wind power electricity gene...,Large additions,"COUNTIF(F525:F527,""<50%"")0",NaN,NaN,NaN,data/claims_extracted_by_us/Ch8_Outlook_Claims...

In [23]:
len(main_df[main_df.formula.str.contains("IF")].drop_duplicates(subset="formula"))

179